<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>
        <li<%= sidebar_current("docs-dsfhub-index") %>>
          <a href="/docs/providers/dsfhub/index.html">Incapsula Provider</a>
        </li>
        <li<%= sidebar_current("docs-dsfhub-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-dsfhub-resource-cloud-account") %>>
              <a href="/docs/providers/dsfhub/r/cloud_account.html">dsfhub_cloud_account</a>
            </li>
            <li<%= sidebar_current("docs-dsfhub-resource-data-source") %>>
              <a href="/docs/providers/dsfhub/r/data_source.html">dsfhub_data_source</a>
            </li>
            <li<%= sidebar_current("docs-dsfhub-resource-log-aggregator") %>>
              <a href="/docs/providers/dsfhub/r/log_aggregator.html">dsfhub_log_aggregator</a>
            </li>
            <li<%= sidebar_current("docs-dsfhub-resource-secret-manager") %>>
              <a href="/docs/providers/dsfhub/r/secret_manager.html">dsfhub_secret_manager</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-dsfhub-data") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-dsfhub-data-cloud-account") %>>
              <a href="/docs/providers/dsfhub/d/cloud_account.html">dsfhub_cloud_account</a>
            </li>
            <li<%= sidebar_current("docs-dsfhub-data-log-aggregator") %>>
              <a href="/docs/providers/dsfhub/d/log_aggregator.html">dsfhub_log_aggregator</a>
            </li>
            <li<%= sidebar_current("docs-dsfhub-data-secret-manager") %>>
              <a href="/docs/providers/dsfhub/d/secret_manager.html">dsfhub_secret_manager</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%= yield %>
  <% end %>
